.bg-color {
    background-color: #dddddd;
    color: darkgreen;
}
.login {
    padding-top: 20px;
    width: 600px;
    background-color: #eeeeee;
}
.img {
    padding-top: 20px;
    width: 400px;
    background-color: #43fdff;
}
