body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin:0; padding:0 }
.bg{
    width: 100%;
    height: 193px;
}
#supply-header {
    background-color: #52aa4d;
}
#supply-header a {
    color: #faffff;
}
a {
    text-decoration: none;
    color: #777777;
}
.content {
    width: 1200px;
    margin: 0 auto;

}
.classification {
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
}
.clear-float:after {
    content: '';
    display: block;
    clear: both;
}
.commodity-classification ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.commodity-classification li {
    width: 148px;
    height: 40px;
    list-style: none;

}
.commodity-classification a {
    text-decoration: none;
    text-align: center;
    width: 148px;
    display: inline-block;
    line-height: 40px;
    color: black;
    background-color: #e2e2e2;
}
.commodity-classification a:hover {
    background-color: #bbbbbb;
}
.recommend {
    border: 1px solid #cbcbcb;
}
.popular {
    line-height: 40px;
    font-size: 20px;
    color: #ff7c68;
    padding:0 18px ;
}
.recommend ul li {
    list-style: none;
    border-bottom: 1px dotted #bbbbbb;
    line-height: 40px;
    padding:0 10px ;
}
.recommend ul li:last-child {
    border-bottom:none;
}
.recommend a {
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin: 0 8px;
    color: #5f5f5f;
}
.recommend a:hover {
    color: #46b136;
}
/*商品*/
.item {
    display: block;
    padding-left: 20px;
    background-color: #f7f7f7;
}
.hot-ul>li{
    float: left;
    width: 224px;
    cursor: pointer;
    list-style: none;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    margin: 0 10px 10px 0;
}
.hot-ul>li:hover {
    box-shadow: 0 0 4px #767676;
}
.hot-ul .hot-img {
    width: 100%;
    height: 200px;
    display: inline-block;
    background-color: #e6e6e6;
}
.item-information li{
    line-height: 30px;
    list-style: none;
    background-color: #f7f7f7;
    padding-left: 10px;

}
.item-information .commodity-name {
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    vertical-align: center;
    font-size: 18px;
}
.commodity-price {
    font-weight: bolder;
    color: #ff900b;
}
.item-information .commodity-source-area {
    line-height: 25px;
}
.hot-consultation-bg {
    width: 1200px;
    margin: 0 auto;
    background-color: #60bd95;
}