* {
    margin: 0;
    padding: 0;
}
.base {
    width: 100%;
    height: 160px;
    margin-top: 20%;
    background-color: #1f966e;
}
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -240px 0 0 -210px;
    width: 420px;
    height: 350px;
    border-top: 10px solid #75f77e;
    box-shadow:   0 0 4px #767676;
    background-color: white;
}
.title {
    width: 100%;
    height: 120px;

}
.title img {
    width: 80px;
    margin-left: 160px;
}
.title h2 {
    text-align: center;
}
.form {
    height: 360px;
    padding: 40px;
}
/*.alert {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: none;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*background:rgba(0, 0, 0, 0.3);*/
/*}*/
/*.login-1 {*/
    /*border-radius: 8px;*/
    /*text-align: center;*/
    /*position: absolute;*/
    /*box-shadow: 1px 1px 3px #4b4b4b;*/
    /*left: 50%;*/
    /*top: 25%;*/
    /*margin-left: -250px;*/
    /*width: 500px;*/
    /*height: 300px;*/
    /*background-color: #99f2f7;*/
/*}*/